body {
    font-family: sans-serif;
    background-color: #e7e7e7;
    font-weight: bold;
    display: grid;
}
.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 5%;
}
.text-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.btn:link,
.btn:visited {
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 80px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #81d4fa;
    color: #fff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #81d4fa;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}