body{
    background-image: url("../pic/homeBackground.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* start button */
.vertical-menu {
    width: 30%;
}

.vertical-menu a {
    background-color: #ffff66;
    color: black;
    display: block;
    padding: 12px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
}

.vertical-menu a:hover {
    background-color: #cce6ff;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
/* end button */
