body{
    background-image: url("../pic/homeBackground.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 4px 8px;
    margin: 1px 1px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 15px;
}

.butt1 {
    background-color: #ffff99;
    color: #000080;
}

.butt2 {
    background-color: #99e6ff;
    color: #000080;
}
