/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;

}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;

}
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}
.center {
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}