/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;

}

.paragraph{
    color: white;
    margin-top: 60px;
    margin-right: auto;
    text-align: right;
    font-size: 30px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;

}
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}
.center {
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fade-in-image {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}