/*
 give some style to body:
      1. background image
      2. font size and font family
*/
body{
    background:#333 url(../images/background.jpg) repeat top left;
    font-family:Arial;
}

/* style of tag h1 */
.header{
    text-align: center;
    color: #0B75AF;
    font-size: xxx-large;
}

/* Three images side by side containers */
.column {
    float: left;
    width: 15%;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 500px) {
    .column {
        max-width: 100%;
    }
}

/* style the size of the image */
.img{
    width: 170px;
    height: 170px;
}

/* centering the image in page */
.center {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* style of a div tag */
.division{
    background: rgba(0,5,11,0.89);
    color: antiquewhite;
    margin: auto;
    width: 170px;
    height: 100px;
}

/* style the text of the image */
.span1{
    color:#fff;
    font-size:24px;
}
.span2{
    color:#0B75AF;
    font-size:10px;
    letter-spacing:1px;
}
.span1 ,.span2{
    margin-left:15px;
    text-transform:uppercase;
    text-shadow:1px 1px 1px #000;
    float:left;
    clear:both;
}