@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic,700italic,900italic);
body {
    /* background-image: linear-gradient(to right bottom, rgba(69, 243, 243, 0.336), rgba(26, 179, 39, 0.3)), url('asset/img/round2.png'); */
    background-image: url("../img/round2.png");
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

html {
    overflow-y: scroll;
    scrollbar-color: #0d113ab7 #5d71e4b7;
}

@font-face {
    font-family: myFirstFont;
    src: url("../font/B-NAZANIN.TTF");
}

p {
    color: white;
    font-weight: bold;
}

h1 {}

h2 {
    color: #444;
}

h3 {}

h4 {}

h5 {}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

strong {
    color: white;
    font-size: 1vm;
}

.text-box {
    position: absolute;
    left: 50%;
    top: 20%;
    box-shadow: 1px 1px 12px 3px rgba(146, 4, 115, 0.5863);
    transform: translateX(-50%);
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    background: radial-gradient(ellipse at center, #2a3953 25%, #2d333d 100%);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    /* transform: translateY(150%); */
    border-radius: 150vw;
    width: 300vw;
    height: 300vw;
    z-index: -1;
}

#curve-footer {
    /* background-color: black; */
    position: relative;
    transform: rotate(180deg);
    padding: 4.5rem;
}

#curve-footer::before {
    background: radial-gradient(ellipse at center, #05235c 25%, #05235c 100%) !important;
}

.curve {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 3rem 3rem;
    padding-top: 0px;
}

.ready {
    font-style: myFirstFont;
}

.font-icon {
    font-size: 24;
}

.butn:link,
.butn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.butn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.butn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.butn-white {
    background-color: #fff;
    color: #777;
    font-size: 22px;
}

.list-style-one {
    position: relative;
}

.list-style-one li {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #222222;
    font-weight: 400;
    padding-left: 35px;
    margin-bottom: 12px;
}

.list-style-one li:before {
    content: "\f058";
    position: absolute;
    left: 0;
    top: 0px;
    display: block;
    font-size: 18px;
    padding: 0px;
    color: #239b57b7;
    font-weight: 600;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.6;
    font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover {
    color: #44bce2;
}

.btn-style-one {
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    overflow: hidden;
    letter-spacing: 0.02em;
    background-color: #25239bb7;
}

.btn-style-one:hover {
    background-color: #070a3ab7;
    color: #ffffff;
}

.about-section {
    position: relative;
    padding: 120px 0 70px;
}

.about-section .sec-title {
    margin-bottom: 45px;
}

.about-section .content-column {
    position: relative;
    margin-bottom: 50px;
}

.about-section .content-column .inner-column {
    position: relative;
    padding-left: 30px;
}

.about-section .text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
}

.about-section .list-style-one {
    margin-bottom: 45px;
}

.about-section .btn-box {
    position: relative;
}

.about-section .btn-box a {
    padding: 15px 50px;
}

.about-section .image-column {
    position: relative;
}

.about-section .image-column .text-layer {
    position: absolute;
    right: -110px;
    top: 50%;
    font-size: 325px;
    line-height: 1em;
    color: #ffffff;
    margin-top: -175px;
    font-weight: 500;
}

.about-section .image-column .inner-column {
    position: relative;
    padding-left: 120px;
    padding-bottom: 125px;
}

.about-section .image-column .inner-column:before {
    position: absolute;
    left: 65px;
    top: 65px;
    height: 520px;
    width: 520px;
    background-image: url(https://i.ibb.co/fxJ1jtC/about-circle-1.png);
    content: "";
}

.about-section .image-column .image-1 {
    position: relative;
}

.about-section .image-column .image-2 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
    box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
}

.about-section .image-column .video-link {
    position: absolute;
    left: 70px;
    top: 170px;
}

.about-section .image-column .video-link .link {
    position: relative;
    display: block;
    font-size: 22px;
    color: #191e34;
    font-weight: 400;
    text-align: center;
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.about-section .image-column .video-link .link:hover {
    background-color: #191e34;
    color: #ffffff
}