@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic,700italic,900italic);
body {
    background-image: url("../img/round2.png");
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

html {
    overflow-y: scroll;
    scrollbar-color: #239b57b7 #39d37cb7;
}

@font-face {
    font-family: myFirstFont;
    src: url("../font/B\Iranian Sans.ttf");
}

p {
    color: white;
    font-family: 'myFirstFont' !important;
    font-weight: bold;
}

h1 {
    font-family: 'myFirstFont' !important;
}

h2 {
    font-family: 'myFirstFont' !important;
    color: #444;
}

h3 {
    font-family: 'myFirstFont' !important;
}

h4 {
    font-family: 'myFirstFont' !important;
}

h5 {
    font-family: 'myFirstFont' !important;
}

a {
    font-family: 'myFirstFont' !important;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

strong {
    font-family: 'myFirstFont' !important;
    color: white;
    font-size: 1vm;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba(243, 240, 69, 0.3), rgba(179, 176, 26, 0.3)), url('../img/wheat-slider1.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
    position: absolute;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #239b56;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.butn:link,
.butn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.butn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.butn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.butn-white {
    background-color: #fff;
    color: #777;
    font-size: 14px;
}


/* //////////////////////////////////////////////////////    */

.curve {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 3rem 3rem;
    padding-top: 0px;
}

.hex-area li:nth-child(2) {
    left: 12%;
    background: rgb(171, 219, 190);
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.hex-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.hex-area li:nth-child(4) {
    left: 70%;
    background: rgb(175, 212, 190);
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.hex-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.hex-area li:nth-child(6) {
    left: 15%;
    background: rgb(172, 212, 188);
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

.hex-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hex-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgb(64, 184, 94);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.text-mysuccess {
    color: 2px solid #239b56;
}

.strip {
    background-color: white;
    padding-top: 0.5rem;
    overflow: hidden;
}

.strip {
    border-bottom: 2px solid #239b56;
    border-top: 1px solid #a7a7a734;
}

.curve p {
    font-size: 12px;
}

.search-field input,
.search-field2 input {
    background: none;
    border: none;
    border-radius: 5px;
    text-align: right;
    color: white;
    border-bottom: rgba(255, 255, 255, 0.459) 1px solid;
}

.curve div div a {
    text-decoration: none;
}

.curve i {
    opacity: 0.95;
    font-size: 36px;
    transition: all 0.3s;
}

.search-field {
    max-width: 33%;
    display: flex;
}

.menu {
    display: flex;
}

.menu2 i:hover {
    transform: scale(1.2);
}

.logo {
    width: 16.666667%;
    margin-left: 16.666667%;
}

.bars {
    display: none;
}

.pheader {
    display: flex;
}

.LatestProduct>div>div {
    display: flex;
}

@media screen and (max-width: 1050px) {
    .pheader {
        flex-direction: column;
    }
    .Proposal {
        display: flex;
        flex-direction: column-reverse;
    }
    .Proposal input:first-child {
        margin-top: 1rem;
    }
    .Proposal div:nth-child(2) {
        margin-left: 0 !important;
    }
    .search-field {
        display: none;
    }
    .menu {
        display: none;
    }
    .logo-post {
        width: 50%;
        margin-left: 50%;
    }
    .menu a {
        margin-top: 100px;
    }
    .logo {
        display: none;
    }
    .bars {
        cursor: pointer;
        display: block;
    }
    /* .curve i {
        font-size: 24px;
    }
    .menu {
        max-width: 25%;
    }
    .btm {
        margin-top: 2.5rem;
    } */
}

.menu i:hover {
    transform: scale(1.2);
}

.curve::before {
    content: '';
    display: block;
    background: radial-gradient(ellipse at center, #239b57ce 25%, #239b56 100%);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 150vw;
    width: 300vw;
    height: 300vw;
    z-index: -1;
}

#curve-footer {
    /* background-color: black; */
    position: relative;
    transform: rotate(180deg);
    padding: 4.5rem;
}

#curve-footer::before {
    background: radial-gradient(ellipse at center, #055c2a 25%, #055c2a 100%) !important;
}

.shadow {
    box-shadow: black 2px 2px 4px 2px;
}

.h-max {
    max-height: 50px;
    height: 50px;
}

.text-ylw2 {
    color: #239b56;
}

.bg-ylw2 {
    background-color: #27bb67;
}

.bg-none {
    background: none;
}

.next {
    cursor: pointer;
    border-radius: 50%;
    opacity: 0.7;
    height: 100px;
    position: absolute;
    margin-top: 9%;
    width: 100px;
    left: 0;
    right: auto;
    z-index: 55;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.previous {
    cursor: pointer;
    border-radius: 50%;
    margin-top: 9%;
    opacity: 0.7;
    height: 100px;
    position: absolute;
    width: 100px;
    left: auto;
    z-index: 55;
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.buy-btn {
    border: none;
    transition: all 0.2s;
    box-shadow: rgba(0, 0, 0, 0.466) 1px 3px 2px 0px;
}

.shop {
    box-sizing: border-box;
    display: inline-block;
}

.bg-yel {
    border: none;
    background-color: #239b56;
}

.buy-btn:hover {
    transform: scale(1.04);
    box-shadow: rgba(0, 0, 0, 0.466) 2px 4px 3px 2px;
}

span {
    content: "\002B";
}

img {
    cursor: pointer;
}

.h-100 {
    height: 100%;
}

.options {
    overflow: hidden;
    min-height: 230px;
    cursor: pointer;
    /* border-radius: 20px; */
}

.pointer {
    cursor: pointer;
}

.options a {
    text-decoration: none;
}

.options a:hover {
    text-decoration: none;
}

.options div img {
    cursor: auto;
}

@keyframes totop {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: -125px;
    }
}

#detail-product {
    /* background-color: rgba(255, 255, 255, 0.712); */
    z-index: 4;
    background-image: linear-gradient( #239b5605, #239b56c5 30%, #239b56);
}

#detail-product button {
    background-color: #239b56;
}

.options img {
    z-index: 3;
}

@keyframes rotated {
    from {
        transform: scale(1.) rotate(0deg);
    }
    to {
        transform: scale(1.09) rotate(3deg);
    }
}

.options:hover img {
    animation: rotated 0.4s forwards;
}

.options:hover #detail-product {
    animation: totop 0.3s forwards;
}

.buy-btn:hover~.options img {
    animation: rotated 0.4s forwards;
}

.buy-btn:hover #detail-product {
    animation: totop 0.3s forwards;
}

.LatestProduct {
    overflow: hidden;
    margin-top: 40px;
    padding-bottom: 20px
}

.outfitGrid {
    position: relative;
    clear: both;
    margin: 0 auto;
    margin-top: 0px;
    list-style: none;
    text-align: center;
    margin-top: -15px;
}

.outfitGrid figure {
    position: relative;
    overflow: hidden;
    height: auto;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.figureHover {
    border-radius: 50px;
}

.LatestProduct {
    /* background-color: #fdf9ff; */
    margin-top: 40px;
    padding-bottom: 30px;
}

.figureHover {
    background: #555;
    overflow: hidden;
}

.outfitGrid figure img {
    position: relative;
    display: block;
    opacity: .9;
}

.effect-apollo {
    overflow: hidden;
}

figure.effect-apollo img {
    opacity: .95;
    transition: opacity .35s, transform .35s;
    transform: scale3d(1.1, 1.1, 1.1);
}

.outfitGrid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    backface-visibility: hidden;
}

.outfitGrid figure {
    text-align: center;
    cursor: pointer;
}

.outfitGrid {
    list-style: none;
    text-align: center;
}

.outfitGrid figure figcaption,
.outfitGrid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.outfitGrid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.outfitGrid figure {
    position: relative;
    overflow: hidden;
    height: auto;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.outfitGrid figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
}

figure.effect-apollo:hover figcaption::before {
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .35);
    content: '';
    transition: transform .6s;
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

.outfitGrid figure figcaption::before,
.outfitGrid figure figcaption::after {
    pointer-events: none;
}

.text-red {
    color: #239b56;
}

#sin7 {
    margin-top: 400px;
}

#sin7 a:hover {
    text-decoration: none;
}

.right a {
    margin-left: auto;
    margin-right: 0;
}

#sin7 div div a {
    text-decoration: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#sin7 div div {
    min-width: 40%;
    /* width: 80%; */
    /* margin-left: 10%; */
}

#sin7 div div img {
    border-radius: 30%;
    padding-top: 5;
    width: 100;
    height: 100;
    margin: auto;
    cursor: pointer;
}

#sin7 div div a:hover {
    transform: scale(1.2);
}

#sin7 div div div {
    text-align: center;
    vertical-align: middle;
    align-self: center;
}

#sin7 div div div p {
    color: black;
    margin-right: 40%;
}

.showing {
    animation: showsin7 1s forwards;
}

@keyframes showsin7 {
    from {
        margin-top: 400;
    }
    to {
        margin-top: 0;
    }
}

.ribbon {
    position: absolute
}

.ribbon .text,
.ribbon .banner,
.ribbon a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

.product_strip>div {
    width: 278px;
    flex: 0 0 25%;
    min-width: 200px;
    max-width: 278px;
    padding-left: 15px;
    padding-right: 15px;
}

.ribbon a {
    color: #fff;
    text-decoration: none
}

.no-css-transforms .ribbon {
    font-size: 1em;
    position: relative;
    width: 100%
}

.ribbon .banner {
    transform: rotate(45deg);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    display: block;
    float: right;
    position: relative;
    right: -14px;
    top: 22px;
    width: 100px;
    z-index: 1
}

.ribbon .banner1 {
    transform: rotate(45deg);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    display: block;
    float: right;
    position: relative;
    top: 22px;
    right: -103px;
    width: 82px;
    z-index: 1
}

.ribbon .banner2 {
    transform: rotate(45deg);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    display: block;
    float: right;
    position: relative;
    top: 22px;
    right: -103px;
    width: 85px;
    z-index: 1
}

.ribbon .banner3 {
    transform: rotate(45deg);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    display: block;
    float: right;
    position: relative;
    top: 22px;
    right: -103px;
    width: 90px;
    z-index: 1
}

.ribbon .banner4 {
    transform: rotate(45deg);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    display: block;
    float: right;
    position: relative;
    top: 22px;
    right: -103px;
    width: 90px;
    z-index: 1
}

.ribbon .banner5 {
    transform: rotate(45deg);
    color: #fff;
    -webkit-font-smoothing: antialiased;
    display: block;
    float: right;
    position: relative;
    top: 22px;
    right: -103px;
    width: 90px;
    z-index: 1
}

.ribbon-small .banner {
    right: -8px;
    top: 15px;
    width: 65px
}

.ribbon-large .banner {
    right: -20px;
    top: 32px;
    width: 150px
}

.ribbon .banner::after,
.ribbon .banner::before {
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    width: 30px
}

.ribbon-small .banner::after,
.ribbon-small .banner::before {
    height: 6px;
    width: 20px
}

.ribbon-large .banner::after,
.ribbon-large .banner::before {
    height: 18px;
    width: 45px
}

.ribbon .banner::before {
    transform: skewY(-45deg) translate(50%, 15px);
    transform-origin: 100% center;
    left: -45px
}

.ribbon-small .banner::before {
    top: -5px;
    left: -30px
}

.ribbon-large .banner::before {
    top: 9px;
    left: -68px
}

.ribbon .banner::after {
    transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
    transform-origin: 0 center;
    right: -17px
}

.ribbon-small .banner::after {
    top: 18px;
    right: -12px
}

.ribbon-large .banner::after {
    top: 45px;
    right: -26px
}

.no-css-transforms .ribbon .banner {
    position: static;
    width: 100%;
    float: none;
    font-size: 10px
}

.ribbon .text {
    position: relative;
    z-index: 2;
    padding: 6px 0;
    font-size: 12px;
    min-height: 18px;
    line-height: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    white-space: nowrap;
    text-overflow: ellipsis
}

.ribbon-small .text {
    padding: 3px 0;
    min-height: 14px;
    line-height: 14px;
    text-align: center
}

.ribbon-large .text {
    padding: 9px 0;
    font-size: 18px;
    min-height: 28px;
    line-height: 28px;
    text-align: center
}

.ribbon .text::before,
.ribbon .text::after {
    content: '';
    display: block;
    height: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.ribbon.ribbon-small .text::before,
.ribbon.ribbon-small .text::after {
    height: 20px
}

.ribbon.ribbon-large .text::before,
.ribbon.ribbon-large .text::after {
    height: 46px
}

.ribbon .text::before {
    transform: translateX(-15%) skewX(-45deg)
}

.ribbon .text::after {
    transform: translateX(15%) skewX(45deg)
}

.no-css-transforms .ribbon .text {
    height: 25px;
    padding: 3px
}

.ribbon .banner::after,
.ribbon .banner::before {
    background-color: #51a351
}

.ribbon .text::before,
.ribbon .text::after,
.no-css-transforms .ribbon .text {
    background-color: #62c462
}

.ribbon-green .banner::after,
.ribbon-green .banner::before {
    background-color: #51a351
}

.ribbon-green .text::before,
.ribbon-green .text::after,
.no-css-transforms .ribbon-green .text {
    background-color: #62c462
}

.ribbon-blue .banner::after,
.ribbon-blue .banner::before {
    background-color: #04c
}

.ribbon-blue .text::before,
.ribbon-blue .text::after,
.no-css-transforms .ribbon-blue .text {
    background-color: #08c
}

.ribbon-blue-mms .banner::after,
.ribbon-blue-mms .banner::before {
    background-color: #2d5b98
}

.ribbon-blue-mms .text::before,
.ribbon-blue-mms .text::after,
.no-css-transforms .ribbon-blue-mms .text {
    background-color: #367ab3
}

.ribbon-blue-light .banner::after,
.ribbon-blue-light .banner::before {
    background-color: #2f96b4
}

.ribbon-blue-light .text::before,
.ribbon-blue-light .text::after,
.no-css-transforms .ribbon-blue-light .text {
    background-color: #5bc0de
}

.ribbon-yellow .banner::after,
.ribbon-yellow .banner::before {
    background-color: #38be72
}

.ribbon-yellow .text::before,
.ribbon-yellow .text::after,
.no-css-transforms .ribbon-yellow .text {
    background-color: #239b56
}

.ribbon-orange .banner::after,
.ribbon-orange .banner::before {
    background-color: #239b56
}

.ribbon-orange .text::before,
.ribbon-orange .text::after,
.no-css-transforms .ribbon-orange .text {
    background-color: #239b56
}

.ribbon-red .banner::after,
.ribbon-red .banner::before {
    background-color: #239b56
}

.ribbon-red .text::before,
.ribbon-red .text::after,
.no-css-transforms .ribbon-red .text {
    background-color: #239b56
}

.ribbon-purple .banner::after,
.ribbon-purple .banner::before {
    background-color: #239b56
}

.ribbon-purple .text::before,
.ribbon-purple .text::after,
.no-css-transforms .ribbon-purple .text {
    background-color: #239b56
}

.ribbon-pink .banner::after,
.ribbon-pink .banner::before {
    background-color: #239b56
}

.ribbon-pink .text::before,
.ribbon-pink .text::after,
.no-css-transforms .ribbon-pink .text {
    background-color: #ff5edf
}

.ribbon-black .banner::after,
.ribbon-black .banner::before {
    background-color: #222
}

.ribbon-black .text::before,
.ribbon-black .text::after,
.no-css-transforms .ribbon-black .text {
    background-color: #444
}

.nav-shop {
    display: flex;
    direction: rtl;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    /* background: #222; */
}

.site-nav {
    border-bottom: 1px solid rgba(58, 58, 58, 0.582);
}

.site-nav ul,
.menu-all ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.collapse {
    border-bottom: 2px solid #239b56;
}

.site-nav ul:hover li:not(:hover) a {
    opacity: 0.4;
}

@media screen and (max-width: 750px) {
    #navbarNavDropdown {
        display: block;
        text-align: right;
    }
}

.site-nav ul li {
    position: relative;
    padding: 30px 25px 30px 25px;
    cursor: pointer;
}

.menu-all ul li {
    padding: 15px 25px;
}

.site-nav ul li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #239b56;
    transform: scaleX(0);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes godown {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 350px;
    }
}

.go-down {
    animation: godown 1s forwards;
}

.menu-all div div {
    position: relative;
    border: none;
}

.menu-all div {
    z-index: 77;
    box-shadow: rgba(0, 0, 0, 0.486) 2px 2px 4px 2px;
    visibility: hidden;
    position: absolute;
    text-align: right;
    right: 0;
    left: auto;
    direction: rtl;
    border: gray 1px solid;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.site-nav ul li:hover::after,
.site-nav ul li.active::after {
    transform: scaleX(1);
}

.site-nav ul li a:hover,
.menu-all ul li a:hover {
    text-decoration: none;
    color: #239b56;
}

.site-nav ul li:hover a,
.menu-all ul li:hover a {
    color: #239b56;
}

.site-nav ul li a,
.menu-all ul li a {
    position: relative;
    display: flex;
    color: black;
    font-family: Lato, sans-serif;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-menu h2 {
    border-bottom: #07271548 1px solid;
    color: #239b57ce;
    font-weight: 300;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 20px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu div li a p {
    margin-bottom: 0;
}

.dropdown-menu div div li a:active {
    background: none;
}

.dropdown-menu div li {
    border-bottom: #07271548 1px solid;
}

.dropdown-menu div li:last-child {
    border-bottom: 0;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}

.dropdown-menu>li>a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.dropdown-menu {
    right: 0;
    position: absolute;
    padding-top: 0px !important;
}

.dropdown-menu>div {
    border-top: #239b5671 4px solid;
    border-top-width: 40%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    /* remove the gap so it doesn't close*/
}

.text-ylw {
    color: #64da97;
}

.dropdown-item p {
    color: rgb(100, 100, 100);
    transition: all 0.1s;
}

.dropdown-item {
    border-bottom: rgb(100, 100, 100) 1px solid;
    transition: all 0.3;
}

.nav-link:hover {
    color: #239b56 !important;
}

.dropdown-item i {
    color: rgb(100, 100, 100);
}

dropdown-item:active {
    background: none;
}

.dropdown-item:hover p {
    transform: scale(1.2);
    color: #239b56;
}

.dropdown-item:hover i {
    color: #239b56;
    transform: scale(1.1);
}

.shadow2 {
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 0px;
}

footer ul {
    margin: 0px;
    padding: 0px;
}

.subscribe-form input {
    color: #016e30;
}

.footer-section {
    background: #055c2a;
    position: relative;
}

.footer-section>* {
    direction: rtl;
    text-align: right;
}


/* ////////////////////// dont color it/ */

.footer-cta {
    border-bottom: 1px solid #033f1d;
}

.single-cta i {
    color: #239b56;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #bebebe;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #bebebe;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 8px;
}

.footer-social-icon i {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

.telegram-bg {
    background: rgb(103, 139, 216);
}

.twitter-bg {
    background: #55ACEE;
}

.facebook-bg {
    background: rgb(47, 51, 105);
}

.google-bg {
    background: #DD4B39;
}

.bg-ylw {
    background-color: #239b56;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: bg-ylwlative;
}

.footer-widget ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #239b56;
}

.footer-widget ul li a {
    color: #bebebe;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #239b56;
    padding: 13px 20px;
    border: 1px solid #239b56;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    border-top: #1c9751 1px solid;
    background: #03381a;
    padding: 25px 0;
}

.copyright-text {
    margin: auto;
}

.copyright-text p {
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #239b56;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #239b56;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

#aside {
    position: fixed;
    top: 200px;
    z-index: 999;
    opacity: 0.6;
    display: none;
    flex-direction: column-reverse !important;
    transition: all 0.4s;
}

#aside:hover {
    opacity: 1;
}

@keyframes goright {
    from {
        margin-left: -80px;
    }
    to {
        margin-left: 5px;
    }
}

.sticky {
    display: flex !important;
    animation: goright 1s forwards;
    /* flex-direction: column-reverse !important; */
}

label {
    font-size: 20px;
}

#aside a {
    max-width: 100%;
}

#aside a {
    border-radius: 50px;
    transition: all 0.7s;
}

#aside a:hover {
    background-color: #26da74;
}

@keyframes swipe {
    from {}
    to {}
}

.swiper {
    animation: swipe 1s forwards;
}


/* ////////////////////////////////////////////////////////////////////////////////////////// */

.card-list {
    list-style: none;
    padding: 0;
    overflow: hidden;
    margin: 0;
    display: flex;
}

.card-list div li {
    width: 274px;
    min-width: 200px;
    flex: 0 0 25%;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

.card-list> :not(:first-child) {
    margin-left: .5rem;
}

.card-list> :not(:last-child) {
    margin-right: .5rem;
}

.card {
    background: #fff;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #333;
    overflow: hidden;
    border-radius: 30px;
    transition: ease-in all .1s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.1);
}

.card>* {
    margin-top: 0;
    margin-bottom: 1rem;
    transition: all 0.5;
}

.card {
    text-decoration: none;
}

.card:hover {
    text-decoration: none;
    color: #239b56;
}

.card h3:hover {
    text-decoration: none;
    color: #239b56;
}

.card> :not(.card-img-cont) {
    margin-right: 1rem;
    margin-left: 1rem;
}

.card-category {
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
    margin-bottom: 0;
    opacity: .9;
}

.card-img-cont {
    order: -1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.Proposal {
    display: flex;
}

.card-img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Proposal~div div button {
    border-radius: 10px;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.096) 2px 2px 2px 2px;
}

.Proposal>div>input {
    margin: auto;
    margin-top: auto;
    border: rgba(128, 128, 128, 0.666) 2px solid;
    border-radius: 30px;
    text-align: right;
    padding: 0.5rem;
    background: none;
}

.Proposal~div textarea {
    margin: auto;
    margin-top: auto;
    text-align: right;
    border: rgba(128, 128, 128, 0.666) 2px solid;
    border-radius: 30px;
    background: none;
}

.shadow3 {
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.3);
}

.links>h4 {
    /* font-size: 20px; */
    color: rgba(75, 75, 75, 0.671);
}

.links div div h4 {
    color: rgba(75, 75, 75, 0.29);
}

.links div div h4 a {
    color: rgba(75, 75, 75, 0.29);
    text-decoration: none;
}

.links div div h4 a:hover {
    text-decoration: none;
    color: 239b56;
}

@keyframes goup {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -10px;
    }
}

.introduce div:hover {
    animation: goup 0.5s forwards;
}

#LastProduct2 {
    left: -1260px;
}

.sign-content {
    width: 326px;
}

.logo-post {
    width: 25%;
    margin-left: 75%;
}

.sign-content div {
    width: 75%;
    margin-left: 16%;
}

.adverimage {
    width: 150px;
    min-width: 150px;
}


/* #LastProduct2 ul li {
    max-width: ;
} */

#signcard {
    transform: scale(0.01);
}

@keyframes goscale {
    from {
        transform: scale(0.01);
    }
    to {
        transform: scale(1);
    }
}

.view_scaling {
    animation: goscale 1s forwards;
}

@keyframes goleft {
    from {
        left: -1260px;
    }
    to {
        left: 0px;
    }
}

.view_rolling {
    animation: goleft 2.5s forwards ease-in-out;
}

.bg-mysuccess {
    background-color: #239b56 !important;
}

.bg-mysuccess:hover {
    background-color: #11b156 !important;
}

.page-selector div {
    border-radius: 50%;
}

.page-selector div a {
    color: white;
    text-decoration: none;
}

.page-selector div a:hover {
    text-decoration: none;
    color: white;
}

.btn-mysuccess {
    background-color: #239b56 !important;
    color: white !important;
    box-shadow: rgba(0, 0, 0, 0.432) 1px 2px 4px 0px;
}

.btn-mysuccess:hover {
    color: white !important;
    background-color: #11b156 !important;
    box-shadow: rgba(0, 0, 0, 0.432) 1px 2px 3px 0px;
}

.product_image {
    border-left: rgba(34, 34, 34, 0.452) 1px solid;
}