.img {
  border-radius: 50%;
}
.center {
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.6), rgba(41,46,51,0.6)), url("images/64e8a55d6de5329748f45e57e34f22c77e6039504f8318f34c993f2152699391ec89d34b366029e6f3e329126235bb1fe224d8c4730b18df09a314_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 298px;
  height: 298px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-1 {
  width: 409px;
  margin: 20px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  width: 839px;
  font-size: 1.5rem;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 22px auto 0;
}

.u-section-1 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1rem;
  width: 409px;
  text-transform: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 31px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  margin: 88px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    align-self: center;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}
.u-align-center {
  text-align: center;
}
.u-btn
{
  margin-top: 20px;
  margin-bottom: 20px;
}
.u-btn-round {
  border-radius: 4px;
}
.u-button-style[class*="u-custom-color-"],
.u-button-style[class*="u-palette-"],
.u-button-style[class*="u-gray-"],
.u-button-style.u-white,
.u-button-style.u-black {
  border-width: 0;
}
.u-border-none {
  border-width: 0 !important;
}
.u-hover-white:hover,
.u-hover-white[class*="u-border-"]:hover,
.u-hover-white:focus,
.u-hover-white[class*="u-border-"]:focus,
.u-active-white.u-active.u-active,
.u-active-white[class*="u-border-"].u-active.u-active,
a.u-button-style.u-hover-white:hover,
a.u-button-style.u-hover-white[class*="u-border-"]:hover,
a.u-button-style.u-hover-white:focus,
a.u-button-style.u-hover-white[class*="u-border-"]:focus,
a.u-button-style.u-button-style.u-active-white:active,
a.u-button-style.u-button-style.u-active-white[class*="u-border-"]:active,
a.u-button-style.u-button-style.u-active-white.active,
a.u-button-style.u-button-style.u-active-white[class*="u-border-"].active,
li.active > a.u-button-style.u-button-style.u-active-white,
li.active > a.u-button-style.u-button-style.u-active-white[class*="u-border-"] {
  color: #111111 !important;
  background-color: #ffffff !important;
}
a.u-link.u-hover-white:hover {
  color: #ffffff !important;
}
.u-none.u-button-style,
.u-none.u-button-style:hover,
.u-none.u-button-style:focus,
.u-none.u-button-style:active,
.u-none.u-button-style.active,
.u-button-style.u-hover-none:hover,
.u-button-style.u-hover-none:focus,
.u-button-style.u-active-none:active,
.u-button-style.u-active-none.active,
li.active > .u-button-style.u-active-none {
  color: inherit !important;
  background-color: transparent !important;
}
.u-radius-8,
.u-radius-8:before,
.u-radius-8 .u-background-effect,
.u-radius-8 > .u-container-layout {
  border-radius: 8px !important;
}

.u-tab-list[class*="u-border"] .u-tab-link.u-border-2 {
  margin-bottom: -2px;
}

.u-image-circle.u-image {
  border-radius: 50% !important;
}
@media (max-width: 575px) {
  .u-text-default-xs {
    display: table;
    align-self: flex-start;
  }
  .u-text-default-xs:empty {
    display: block;
    width: 15px;
  }
}
.u-image