*{
    margin: 0;
    padding: 0;

}

#body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e0e0e0;
}

#points{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xxx-large;

    margin-bottom: 30px;
}



#again{
    background-color: rgb(255, 193, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: #f7f7f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    height: 70px;
    width: 450px;
    margin-top: 50px;
}
#again:hover{

    background-color: rgb(241, 159, 34);
}
#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}