html,
body,
.grid-container {
    height: 100%;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px 50px;
    grid-template-areas: ". top ." ". center ." ". bottom .";
}

.center {
    grid-area: center;
}

.top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container * {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* buttons */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


/* Card */

.container_row {
    display: grid;
}

.layer {
    grid-column: 1;
    grid-row: 1;
}

.aside {
    background-color: #ffffff;
    color: #000000;
    font-size: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.3s;
    width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside2 {
    background-color: #ffffff;
    color: #292929;
    font-size: 25px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.3s;
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardText {
    flex: 0 0 100px;
}

.aside:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}


/* Animation */

.move-ttb {
    -webkit-animation: movettb 1s;
    animation: movettb 1s;
}

@keyframes movettb {
    0% {
        opacity: 1;
        top: 0px;
    }
    100% {
        opacity: 0.0;
        top: 200px;
    }
}

.move-btt {
    -webkit-animation: movebtt 1s;
    animation: movebtt 1s;
}

@keyframes movebtt {
    0% {
        opacity: 1;
        bottom: 0px;
    }
    100% {
        opacity: 0.0;
        bottom: 200px;
    }
}