body {
    color: #fff;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 10%;
    border-radius: 4px;
    background: rgb(18,93,255);
    min-width: 2.5rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.5);
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-arrow {
    padding: 0.7rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36, 1) 0%, rgb(41, 232, 111, 1) 100%);
    border-radius: 4.5px;
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
    border-radius: 4.5px;
}

#display {
    display: flex;
    justify-content: space-between;
}

#display-prefix {
    text-align: center;
    font-size: 2rem;
}

.display-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 30px;
        max-width: 100px;
        min-height: 30px;
        max-height: 80px;
    }
}