@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
body {
  font-family: sans-serif;
  /* position: absolute; */
  background-image: url('https://assets.codepen.io/1462889/back-page.svg');
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0px;
  background-color: #E8E8E8;
}

.base-timer {
  position: relative;
  width: 200px;
  height: 200px;
  /* justify-content: center; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}

.base-timer__label:hover {
  color: #24B7B6;
}

h1 {
  margin-right: auto;
  margin-left: auto;
  top: 12vh;
  color: #ffffff;
}

.box {
  margin-top: 10px;
  /* position: relative; */
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: white;
}

.numberInBox {
  text-align: center;
  color: #24B7B6;
  font-size: xxx-large;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-box {
  margin-left: 8vw;
  display: flex;
  flex-direction: row;
  margin-top: 6vh;
}

.box:hover {
  background-color: #24B7B6;
}

.box:hover .numberInBox {
  color: white;
}

.randomText {
  position: relative;
  top: 20px;
  border-radius: 10px;
  justify-content: center;
  width: 60%;
  height: 60px;
  background-color: rgb(32, 154, 170);
  margin-left: auto;
  margin-right: auto;
}

.numberInboxRandom {
  padding: 7px;
  margin-top: 5px;
  text-align: center;
  color: #ffffff;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-timesup {
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  margin: 0;
}

h3 {
  margin: 10px 0;
}

.card-container {
  padding-bottom: 20px;
  background-color: #231E39;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #B3B8CD;
  padding-top: 30px;
  position: relative;
  width: 450px;
  max-width: 100%;
  text-align: center;
}

.card-container .pro {
  color: #231E39;
  background-image: url('./imgs/close.svg');
  border-radius: 3px;
  width: 24px;
  height: 24px;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  right: 20px;
}

.card-container .round {
  width: 130px;
  height: 130px;
  border: 1px solid #03BFCB;
  border-radius: 50%;
  padding: 10px;
}

button.primary {
  background-color: #03BFCB;
  border: 1px solid #03BFCB;
  border-radius: 3px;
  color: #231E39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #24B7B6;
}

.scores-class {
  font-size: large;
  line-height: 21px;
}

.score-text {
  align-items: center;
  margin-top: 0px;
  font-size: xx-large;
  font-weight: bold;
  color: #24B7B6;
}

.incorrect-text {
  align-items: center;
  margin-top: 0px;
  font-size: xx-large;
  font-weight: bold;
  color: #E2574C;
}