body{
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    text-align: center;
    font-family: sans-serif;
}
h1, h3{
    color: #444;
}
#boardGame{
    cursor: pointer;
}

.row{
    font-size: 0px;
}

.col{
    display: inline-block;
    background-color: #eee;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    margin: 0px;
    padding: 0px;
}

.col:hover{
    background-color: #333;
}

.but{
    width: 100px;
    height: 40px;
    font-size: 110%;
    background-color: #26A844;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.med{
    background-color: #ffc008;
}

.hard{
    background-color: #DC3545;

}

.select{
    width: 50px;
    height: 40px;
}