html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    height: 100vh;
    background: linear-gradient(160deg, #80ffdb 0%, #4ea8de 100%);
}

.table {
    width: 560px;
    min-height: 560px;
    background-color: #f2cc8f;
    padding: 32px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.table .card {
    height: 100px;
    width: 100px;
    background: #9c89b8;
    font-size: 0;
    color: #cccccc;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table .card.show {
    font-size: 33px;
    background: #fff;
}

.table .card.accepted {
    background-color: #66ff99;
}

.table .card.wrong {
    background-color: #e85a5a;
}

.card.show img {display:block;}

.card img {
    width: 85px;
    display: none;
}

footer {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}

.heart {
    color: red;
}

.infobox {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    font-family: 'Montserrat', 'sans-serif';
    margin: 30px 30px ;
}

.infobox h1 {
    font-size: 40px;
}

.infobox img {
    width: 40px;
}






