html { 
	max-height: 80%; 
	margin: 0 auto !important; 
	float: none !important; 
}

body {
  background-color: #383e56;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;

  text-align: center;
  line-height: 59px;
  margin: 0;
}

.everything {
  border: 1px solid #fb743e ;
  padding: 10px;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 40px;
}

.timer {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  padding-top: 25px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 150px;
  width: 150px;

  border: 2px solid;
  border-radius: 50%;
}

.time {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 15px;
  margin: auto;
}

.neon {
  font-weight: 900;

  color: #fb743e;
  text-shadow: 0 0 0px #c5d7bd, 0 0 50px #fb743e;
}

.controls {
  display: flex;
  justify-content: space-around;
  
  width: 187px;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

#playButton {
  display: block;
  width: 64px;
  height: 64px;
}

#pauseButton {
  display: none;
  width: 64px;
  height: 64px;
}

#resetButton {
  width: 64px;
  height: 64px;
}


.gameboard {
  border: 1px solid #fb743e ;
  box-shadow: inset 0 0 0px #c5d7bd, 0 0 50px #fb743e;
  margin-top: 10px;
  height: 650px;
  width: 400px;
  margin: 0 auto;
}

.drop {
  width: 115px;
  height: 115px;
  margin: auto;
  display: block;
  margin-top: 30px;
}

.popup-body {
  background-color: #383e56;
  text-decoration-color: #fb743e;
}

.popup-header {
  color: #383e56;
}

.popup-footer {
  background-color: #383e56;
  text-decoration-color: #fb743e;
}

